.wap_item_wrap ul {
    position: relative;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1rem 1.38rem .25rem;
    background-color: rgba(255,255,255,.99);
    border-bottom: 2px solid #fff;
}
.wap_item_wrap ul, .index-secondFloor-wrapper ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}

.wap_item_wrap ul li {
    width: 25%;
    vertical-align: top;
    padding-bottom: .75rem;
    font-size: .79rem;
    display: block;
    text-align: center;
    position: relative;
}

.wap_item_wrap ul li img {
    width: 3.44rem;
    height: 3.44rem;
}

.wap_item_wrap ul li p {
    width: 5.17rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    margin-top: .29rem;
    font-size: .79rem;
    color: #666;
}