
.appSpread-wrap {
    height: 4.25rem;;
    overflow: hidden;
    transition: height 1s;
}
.appSpread-wrap {
    position: relative;
    width: 100%;
    background-color: #EEE;
    display: box;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    box-align: center;
}
.appSpread-wrap, .circle, .swiper-zoom-container {
    -webkit-box-pack: center;
}
.appSpread-wrap, .appSpread-wrap .title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
}
.appSpread-wrap .appSpread-logo {
    width: 2.81rem;
    margin-left: .75rem;
}
.appSpread-wrap .appSpread-title {
    -webkit-box-flex: 1;
    margin-left: .75rem;
}

.appSpread-wrap .appSpread-title p {
    line-height: 1.2;
    color: #333;
}
.appSpread-wrap .title {
    display: box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}
.appSpread-wrap, .appSpread-wrap .title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
}

.appSpread-wrap .appSpread-title p {
    line-height: 1.2;
    color: #333;
}
.appSpread-wrap .title-mes {
    font-size: .75rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    overflow: hidden;
}
.appSpread-wrap .title-mes, .list-flex .goodsName {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.appSpread-wrap .appDownload {
    width: 6.31rem;
    height: 1.88rem;
    margin: 0 .75rem;
    text-align: center;
    background-color: #ec008c;
}

.appSpread-wrap .appDownload span {
    display: inline-block;
    width: 4.31rem;
    height: 100%;
    line-height: 1.88rem;
    font-size: .75rem;
    color: #fff;
}

.appSpread-wrap .appDownload .downIcon {
    width: .63rem;
}